body {background-color: #bbb; font-family: arial, verdana, helvetica;}
fieldset {border: none; background-color: #aaa;}
	fieldset label {font-weight: bold; color: #555;font-size: 2.3em;}
	fieldset input.text {width: 95%; padding: 0.7em; border: 0.3em solid transparent; -moz-border-radius: 5px; -webkit-border-radius: 5px;}
		fieldset input.text:focus {border: 0.3em solid pink;}
.Actions input {margin: 20px auto; font-size: 2.3em; background-color: green; display: block; color: white;}
	.Actions input:hover {background-color: pink;}