####################################
# START DATA OBJECT SORTER
####################################

SiteTree:
  extensions:
    - DataObjectSorterDOD

MyDataObject:
  extensions:
    - DataObjectSorterDOD

DataObjectOneFieldUpdateController:
  page_size: 10

####################################
# END DATA OBJECT SORTER
####################################
