####################################
# DATA OBJECT SORTER
####################################

SilverStripe\CMS\Model\SiteTree:
  extensions:
    - Sunnysideup\DataObjectSorter\DataObjectSorterDOD

MyDataObject:
  extensions:
    - Sunnysideup\DataObjectSorter\DataObjectSorterDOD

Sunnysideup\DataObjectSorter\DataObjectOneFieldUpdateController:
  page_size: 10

####################################
####################################
