####################################
# DATA OBJECT SORTER
####################################

SilverStripe\CMS\Model\SiteTree:
  extensions:
    - Sunnysideup\DataobjectSorter\DataObjectSorterDOD

MyDataObject:
  extensions:
    - Sunnysideup\DataobjectSorter\DataObjectSorterDOD

Sunnysideup\DataobjectSorter\DataObjectOneFieldUpdateController:
  page_size: 10

####################################
####################################
